.theaterCardWrapper {
    display: flex;
    gap: 30px;
}

.theaterImg {
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 6px;
}

.theaterCardInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.theaterName {
    font-weight: 600;
    color: var(--primary);
}

.theaterAddress {
    font-weight: 300;
}
