footer {
    display: none;
}

.footerBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    gap: 5px;
    color: var(--primary-variant);
    font-size: 9px;
    text-transform: lowercase;
}

@media (max-width: 400px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--secondary);
        padding: 10px 0px;
    }
}
