.showtimeCardWrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-variant);
    border-radius: 6px;
}

.calendarDate {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px;
    min-width: 80px;
}

.calendarFrame {
    position: absolute;
    height: 80px;
}

.calendarDate span {
    overflow: hidden;
    white-space: nowrap;
    max-width: 3ch;
    font-size: clamp(10px, 3vw, 14px);
}

.movieTitleAndPlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hourAndPlace {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
}

.hourly {
    font-size: clamp(12px, 3vw, 16px);
}

.movieTitle {
    display: none;
    font-size: clamp(10px, 3vw, 12px);
}

.theaterName {
    font-weight: 300;
    font-size: clamp(10px, 3vw, 12px);
    width: 200px;
}

.circleSeparator {
    height: 120px;
    width: 20px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movieAndDetailsButton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

@media (max-width: 900px) {
    .movieCard,
    .circleSeparator {
        display: none;
    }

    .calendarDate {
        min-width: 55px;
    }

    .movieTitle {
        display: inline;
        font-weight: 500;
        color: var(--primary-variant);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 5px;
    }

    .calendarFrame {
        height: 70px;
    }

    .hourly {
        font-size: 14px;
        max-width: 45px;
    }

    .theaterName {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .movieAndDetailsButton {
        justify-content: flex-end;
    }

    .movieTitleAndPlace {
        margin: 15px;
    }
}

@media (max-width: 400px) {
    .calendarFrame {
        height: 50px;
    }

    .calendarDate {
        min-width: 40px;
    }

    .calendarDate span {
        font-size: 10px;
    }
}
