.movieCard {
    display: flex;
    gap: 20px;
}

.movieCardImg {
    max-height: 15vh;
    border-radius: 6px;
}

.movieTitle,
.movieDateDuration,
.movieDirector,
.movieCast {
    font-size: clamp(12px, 3vw, 14px)
}

.movieTitle {
    color: var(--primary-variant);
    margin-bottom: 10px;
    font-weight: 500;
}

.movieDateDuration,
.movieDirector,
.movieCast {
    font-weight: 300;
}

.movieDateDuration {
    margin-bottom: 10px;
}

.movieCast {
    margin-top: 20px;
}

@media (max-width: 900px) {
    .movieCard {
        width: 100%;
    }
}
