.showtimesSection {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 40px 0;
}

.movieShowtimesWrapper {
    display: flex;
}

.timeSlotColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}

.timeSlotTitle {
    color: var(--primary);
}

.timeSlotWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 40vw;
}
