/* BACKGROUND IMAGE */

.backgroundWrapper {
    position: relative;
    display: inline-block;
}

.movieBackground {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    z-index: -1;
}

.fading {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, var(--secondary), transparent);
}

/* MOVIE INFOS */

.movieDetailsMain {
    margin-top: -50px;
    position: relative;
}

.movieInformations {
    display: flex;
    gap: 5vw;
}

/* Favorite button */
.movieInformations button {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
}

.moviePoster {
    max-height: 340px;
    object-fit: cover;
    border-radius: 6px;
}

.movieInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
}

.movieTitle {
    font-size: 35px;
    margin-bottom: 20px;
}

.movieDetails {
    font-size: 14px;
    font-weight: 300;
}

.directorText {
    font-weight: 600;
    margin-top: 40px;
}

.castText,
.trailerLink {
    color: var(--primary);
    margin-top: 20px;
}

.resume {
    font-weight: 300;
    margin-top: 40px;
}

.trailerLink {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

@media (max-width: 900px) {
    .movieBackground {
        height: 50vw;
    }
    .movieDetailsMain {
        margin-top: -150px;
    }
    .movieInformations {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .movieInfos {
        width: 90%;
        align-items: center;
    }
    .moviePoster {
        max-height: 200px;
    }
}

@media (max-width: 500px) {
    .movieBackground {
        height: 70vw;
    }
    .movieDetailsMain {
        margin-top: -150px;
    }
}
