.carousel {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-bottom: 10px;
}

.slider {
    width: 100%;
}

.sliderWrapper {
    width: 100%;
    position: relative;
}

.carouselShadow {
    position: absolute;
    top: 0;
    right: 0;
    width: 13%;
    height: 100%;
    background: linear-gradient(to left, var(--secondary), transparent);
}

@media (max-width: 400px) {
    .slider {
        overflow-x: scroll !important;
    }
}