.carousel {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-bottom: 10px;
}

.slider {
    overflow-x: scroll !important;
    width: 100%;
}

.sliderWrapper {
    width: 100%;
    position: relative;
}

.carouselShadow {
    position: absolute;
    top: 0;
    right: 0;
    width: 13%;
    height: 100%;
    background: linear-gradient(to left, var(--secondary-variant), transparent);
}

.buttonWrapper {
    display: flex;
    gap: 1vw;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    height: 100%;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}

.movieCardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 400px) {
    .buttonBack,
    .buttonNext {
        display: none;
    }
}
